<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
    <add key="Feedz" value="https://f.feedz.io/jetnet/nuget/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Telerik.FontIcons" />
      <package pattern="Telerik.SvgIcons" />
      <package pattern="Telerik.Licensing" />
      <package pattern="Telerik.AI.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
      <package pattern="Hangfire" />
      <package pattern="Hangfire.*" />
    </packageSource>
    <packageSource key="Feedz">
      <package pattern="Hangfire.Pro" />
      <package pattern="Hangfire.Pro.*" />
    </packageSource>
    <packageSource key="Telerik">
      <package pattern="Telerik.*" />
      <package pattern="!Telerik.FontIcons" />
      <package pattern="!Telerik.SvgIcons" />
      <package pattern="!Telerik.Licensing" />
      <package pattern="!Telerik.AI.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="zNkCtHojIUKNno1wKGVjdQ==.R73drd+RVp7cFptA6ZgJwZoYpzYllAUwuXB0vpfdz5Pdt0zLoR+Mk8Ua7LMbBqL+3hPjROSKI2avf231eFsqSA==" />
    </Telerik>
    <Feedz>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="T-GTRHYajrTO2ERJB3USLKhX1UW7WufGvMo" />
    </Feedz>
  </packageSourceCredentials>
</configuration>